.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbarItem {
    float: left;
    text-align: center;
}

.navbarItem a {
    display: block;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.navbarItem a:hover, a:active {
    border: 1px solid #FFF3E0;
    text-decoration: none;
}

.navbarItem a:link, a:visited {
    color: #FFF3E0;
    text-decoration: none;
}

body {
    margin: auto;
    background-color: black;
    background-image: url("images/body_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

header {
    padding: 1%;
}

header.menu{
    text-transform: uppercase;
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    color: #FFF3E0;
}

.hrStyle {
    background-color: #FFF3E0;
    border: 0;
    height: 1px;
}

h1, ul, p {
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FFF3E0;
    margin-left: 10%;
    margin-right: 10%;
}

h1 {
    font-weight: bold;
    font-size: 2em;
    margin-top: 10%;
}

p, ul, li {
    font-size: 1em;
}

a:link, a:hover, a:visited, a:active {
    color: #FFF3E0;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}