body {
    background-color: #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
    display: grid;
    grid-template-rows: 50px auto auto;
    grid-template-columns: 8fr 1fr 1fr 1fr;
    grid-template-areas:
                        "header home nav1 nav2"
                        "content content content content"
                        "footer footer footer footer";
    padding: 10px;
}

.header, .home, .nav1, .nav2, .footer {
    padding: 15px 30px;
}

.header {
    grid-area: header;
    background-color: #fff;
    border-top-left-radius: 10px;
    /* border-top-right-radius: 10px; */
    text-align: left;
    font-weight: bold;
}

.home {
    grid-area: home;
    background-color: #05386b;
    color: #fff;
    text-align: right;
    text-transform: uppercase;
    font-weight: bold;
}

.nav1 {
    grid-area: nav1;
    background-color: #05386b;
    color: #fff;
    text-align: right;
    text-transform: uppercase;
    font-weight: bold;
}

.nav2 {
    grid-area: nav2;
    border-top-right-radius: 10px;
    background-color: #5cdb95;
    color: #05386b;
    text-align: right;
    text-transform: uppercase;
    font-weight: bold;
}

.content {
    grid-area: content;
    background-color: #fff;
    padding: 20px 50px;
    text-align: justify;
}

.footer {
    grid-area: footer;
    background-color: #000;
    color: #fff;
}